<div id="searchHistory">
    Search History
    <ul id="list">
    </ul>
</div>
<div class="row">
    <button class="btn btn-primary" onclick="filterProducts()">Filter</button>
    <button class="btn btn-warning" onclick="clearFilters()">Clear Filters</button>
    <div class="col-lg-3">
          <div class="sidebar-filter">
            <div class="top-filter-head">Product Filters</div>
            <div class="common-filter">
              <div id="filtersId"></div>
            </div>

            {{!-- <div class="slidecontainer">
                <p>Default range slider:</p>
                <input type="range" min="1" max="100" value="50">
          </div> --}}
    </div>
    </div>
    <div class="col-lg-9" id="product">
    {{!-- <div class="col-sm-6 col-md-4" id="product">
        <div class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/en/5/5e/Gothiccover.png" alt="..." class="img-responsive">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequuntur debitis delectus deserunt dolore dolorem eum expedita, inventore nobis omnis perferendis possimus quas repellat soluta, sunt voluptate, voluptates! Assumenda, nulla?</p>
                <div class="clearfix">
                    <div class="price pull-left">$12</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Button</a>
                </div>
            </div>
        </div>
    </div> --}}
    </div>
</div>